body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  box-sizing: border-box;
}

a,
h1 {
  color: #00b7ff;
}
#Link,
#btnDiv {
  display: flex;
  justify-content: center;
}
#Link a {
  border: 1px solid #00b7ff;
  text-decoration: none;
  padding: 0.5rem;
  font-size: larger;
}
#Link a:hover {
  background-color: #00b7ff;
  color: white;
}

.messageCard {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}
.time {
  text-align: right;
}
.user {
  font-weight: bolder;
}

#user,
#text {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  border: #00b7ff solid 1px;
}

#sendBtn {
  padding: 0.5rem;
  margin: 0.5rem;
}

.messageForm {
  max-width: 70%;
  border: #00b7ff solid 1px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
label {
  font-weight: bolder;
  margin: 0.5rem;
  font-size: 1.2rem;
}
